@use 'variables' as *;

// --- Root styles ---
:root {
    font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: $color-text-primary;
    background-color: $color-background-dark;
}

// --- Body styles ---
body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    box-sizing: border-box;
}

// --- Link styles ---
a {
    font-weight: 500;
    color: $color-primary-accent;
    text-decoration: none;
    transition: color $transition-fast;
}
a:hover {
    color: color-mix(in srgb, $color-primary-accent 90%, white 10%);
}

// --- Heading styles ---
h1 {
    font-size: 3em;
    line-height: 1.3;
    margin-bottom: $space-medium;
}

h2{
    font-size: 2em;
    line-height: 1.1;
    margin-bottom: $space-medium;
}

p {
    margin-bottom: $space-medium;
    font-size: 1.1rem;
}

button {
    border-radius: $border-radius;
}

// --- Dark mode media query ---
@media (prefers-color-scheme: dark) {
    :root {
        color: $color-text-primary;
        background-color: $color-background-dark;
    }
}

// --- Light mode media query ---
@media (prefers-color-scheme: light) {
    :root {
        color: $color-text-tertiary;
        background-color: $color-background-light;
    }
}

